.profile {
  background-color: #1d204b;
  border-radius: 20px;
  padding-bottom: 1vh;
}

.profile .profile-section {
  background-color: #5746ea;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.profile .profile-image {
  margin: 5vh 2.5vw;
}
.profile .profile-image img {
  width: 40%;
  border-radius: 50%;
  background-color: bisque;
  border: 3px solid #e8e5fe;
}

.profile .profile-name {
  margin: 1vh 2.5vw;
  padding-bottom: 10vh;
}
.profile .profile-name p:nth-child(1) {
  margin: 0;
  color: #c1bdfe;
  font-size: 1em;
}

.profile .profile-name p:nth-child(2) {
  font-weight: 300;
  margin-top: 1vh;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  color: #fcf5ff;
  font-size: 2.5em;
  width: 50%;
}

.profile .profile-selector {
  margin: 3vh 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.profile .profile-selector button {
  cursor: pointer;
  text-align: left;
  font-size: 1.2em;
  background-color: transparent;
  color: #5e619d;
  border: none;
  transition: ease-in 0.2s;
}

.profile .profile-selector button:hover {
  color: #e3e5ee;
}

@media only screen and (max-width: 750px) {
  .profile .profile-section {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .profile .profile-image {
    width: 100%;
    margin: 5vh 5vw;
  }
  .profile .profile-image img {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #e8e5fe;
  }

  .profile .profile-name {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .profile .profile-name p:nth-child(2) {
    width: 100%;
    font-size: 1.5em;
  }

  .profile .profile-selector {
    margin: 3vh 5vw;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
  }

  .profile .profile-selector button {
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    color: #5e619d;
    border: none;
    transition: ease-in 0.2s;
  }
}
