@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #0d1323;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
