@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #0d1323;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.dashboard {
  margin-top: 10vh;
  column-gap: 3vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 750px) {
  .dashboard {
    row-gap: 5vh;
    width: 85%;
    grid-template-columns: 1fr;
  }
}
